<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pixshop.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>PixShop</name>
    <description>PixShop AI Engine</description>
    <author email="noh@restoranwawasan.com">Noh</author>
    
    <content src="index.html" />
    
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />

    <platform name="android">
        <preference name="loadUrlTimeoutValue" value="90000" />
        <preference name="AndroidXEnabled" value="true" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>

    <preference name="scheme" value="https" />
    <preference name="hostname" value="localhost" />
</widget>
