<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pixshop.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>PixShop</name>
    <description>PixShop AI Synthesis Engine</description>
    <author email="dev@pixshop.local">Noh</author>
    
    <content src="index.html" />
    
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />

    <platform name="android">
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>

        <preference name="loadUrlTimeoutValue" value="90000" />
        
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>

        <preference name="AndroidXEnabled" value="true" />
        <preference name="BackgroundColor" value="0xff000000" />
        <preference name="HardwareAcceleration" value="true" />
    </platform>

    <preference name="scheme" value="https" />
    <preference name="hostname" value="localhost" />
</widget>
